---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: movies-app

resources:
  - ../../base

# Staging-specific patches
patches:
  # 2 replicas for staging
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 2
    target:
      kind: Rollout

images:
  - name: IMAGE_PLACEHOLDER
    newName: 724921088099.dkr.ecr.eu-north-1.amazonaws.com/movies-loader
    newTag: main-a419cc0-11
  - name: IMAGE_PLACEHOLDER
    newName: 724921088099.dkr.ecr.eu-north-1.amazonaws.com/movies-parser
    newTag: staging-latest
  - name: IMAGE_PLACEHOLDER
    newName: 724921088099.dkr.ecr.eu-north-1.amazonaws.com/movies-store
    newTag: staging-latest
  - name: IMAGE_PLACEHOLDER
    newName: 724921088099.dkr.ecr.eu-north-1.amazonaws.com/movies-marketplace
    newTag: staging-latest

commonLabels:
  environment: staging
