---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: movies-app

resources:
  - ../../base

# Production-specific patches
patches:
  # 3 replicas for production
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Rollout

images:
  - name: IMAGE_PLACEHOLDER
    newName: 724921088099.dkr.ecr.eu-north-1.amazonaws.com/movies-loader
    newTag: prod-latest
  - name: IMAGE_PLACEHOLDER
    newName: 724921088099.dkr.ecr.eu-north-1.amazonaws.com/movies-parser
    newTag: prod-latest
  - name: IMAGE_PLACEHOLDER
    newName: 724921088099.dkr.ecr.eu-north-1.amazonaws.com/movies-store
    newTag: prod-latest
  - name: IMAGE_PLACEHOLDER
    newName: 724921088099.dkr.ecr.eu-north-1.amazonaws.com/movies-marketplace
    newTag: prod-latest

commonLabels:
  environment: prod
